* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    --color-primary: white;
    --fuente-pagina:"MiFuenteRegular", sans-serif;
    --fuente-pagina-bold:"MiFuenteBold", sans-serif;
    --fuente-pagina-extrabold: "MiFuenteExtraBold", sans-serif;
    --color-text-secundary: #000000;
    --color-text-terciary: #323232;
    --color-text-form: white;

}
@font-face {
    font-family: 'MiFuenteRegular';
    src: url('OTF/Panchang-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteExtraBold';
    src: url('OTF/Panchang-Extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteBold';
    src: url('OTF/Panchang-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    background-image:url("fond\ pag2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fuente-pagina);
    background-size:900px;
    background-repeat: repeat;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*-----------------HEADER-----------------*/



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
    font-family: var(--fuente-pagina);
}

.header_logo{
    font-size:47px;
    font-family: var(--fuente-pagina-bold);
}

.header_navbar{
    list-style:none;
    display: flex;
    height: 100%;
    width: 50%;
    gap: 50px;
}

.header_navbar-li{
    justify-content: space-between;
    font-size:21px;
    background-color: transparent;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    border-radius: 4px;
}
.header_navbar-li:hover{
    background-color: var(--color-text-secundary);
    
}
.header_navbar-li-a:hover{
    color: var(--color-primary);
}

.header_navbar-li-a{
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out; 
    color: var(--color-text-secundary);
}

@media (max-width: 1023px) {
    .header_navbar {
        display: none; /* La navbar desaparece en pantallas pequeñas */
    }
}
@media (max-width: 768px) {
    .main-description {
        flex-direction: column; /* Cambiar la disposición a columna */
        align-items: center; /* Alinear los elementos al centro */
        padding: 0%; /* Eliminar los márgenes laterales */
    }

    .main-description-p1 {
        width: 100%; /* Hacer el texto más ancho para pantallas pequeñas */
        font-size: 4vw; /* Ajustar el tamaño de fuente */
    }

    .main-description-buttons {
        padding-top: 15%;
        
        align-items: center; /* Alinear los botones al centro */
    }

    .main-description-buttons-button1,
    .main-description-buttons-button2 {
        width: 90%; /* Ajustar el ancho de los botones a un 90% */
        font-family: var(--fuente-pagina);
        font-size: 4vw; /* Reducir el tamaño de la fuente para pantallas más pequeñas */
    }

    .main_presentacion-h2 {
        font-size: 8vw; /* Ajustar el tamaño del subtítulo */
    }

    .main_presentacion-h1 {
        font-size: 16vw; /* Ajustar el tamaño del título */
    }
}

/*-----------------PRESENTACION-----------------*/



.main_presentacion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-pagina);
    padding: 4% 4%;
}

.main_presentacion-h2{
    font-family: var(--fuente-pagina-bold);
    font-size: 4vw;
}

.main_presentacion-h1{
    font-family: var(--fuente-pagina-extrabold);
    font-size: 22vw;
}



/*-----------------DESCRIPCIÓN-----------------*/



.main-description{
    display: flex;
    width: 100vw;
    font-size: 1.15vw;
    font-weight: 600;
    padding: 0% 6%;
    justify-content: space-between;
    overflow-x: hidden;
    
}
.main-description-p1{
    width: 70%;
}
.main-description-p2{
    width: 30%;
}
.main-description-buttons{
    display: flex;
    flex-direction: column;
}

.main-description-buttons-button1, .main-description-buttons-button2{
    cursor: pointer;
    width: 300px;
    height: 70px;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid var(--color-text-secundary);
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    margin-bottom: 10px; 
}

.main-description-buttons-button1:hover, .main-description-buttons-button2:hover {
    background-color: var(--color-text-secundary); 
    color: var(--color-primary);
}

@media (max-width: 768px){
    .main-description-p1{
        width: 95%;
    }
}
/*-----------------ESPECIALIDADES-----------------*/



.main-specialty {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    height: 35%;
    margin: 20px;
}

.text-slider {
    background-color:transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 85vw;
    overflow: hidden;
    
    font-family: var(--fuente-pagina-bold);
}


.text-slider__item {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    animation: slideText 8s infinite;
}

.text-slider__item:nth-child(1) { animation-delay: 0s; }
.text-slider__item:nth-child(2) { animation-delay: 2s; }
.text-slider__item:nth-child(3) { animation-delay: 4s; }
.text-slider__item:nth-child(4) { animation-delay: 6s; }

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    35% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
/* Esquinas superiores */
.text-slider::before,
.text-slider::after {
    content: "";
    position: absolute;
    width: 6rem; 
    height: 6rem;
    border: 3px solid var(--color-text-secundary);
}

.text-slider::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.text-slider::after {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

/* Esquinas inferiores */
.text-slider .corner-bottom-left,
.text-slider .corner-bottom-right {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: 3px solid var(--color-text-secundary);
}

.text-slider .corner-bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.text-slider .corner-bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.main-specialty{
    padding: 10%;
}

.main-specialty-h2{
    margin-bottom: 8%; 
    font-family: var(--fuente-pagina-bold);
    font-size: 3.5rem; 
    color: var(--color-text-secundary); 
    text-transform: uppercase;
}



/*-----------------CURSOS Y FORMACION-----------------*/



.main-cursos {
    width: 100%;
}

.main-cursos__h2 {
    text-align: center;
    padding: 0% 10%;
    font-family: var(--fuente-pagina-bold);
    font-size: 3vw;
}

.main-cursos__items {
    display: flex;
    gap: 30px;
    justify-content: center; /* Cambiado de space-between a center */
    align-items: flex-start; /* Aseguramos que los elementos estén alineados hacia arriba */
    padding: 5% 10%;
}

.main-cursos__items-1,
.main-cursos__items-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main-cursos__items-1 a, .main-cursos__items-2 a {
    text-decoration: none;
    height: 4.5vw;
    padding: 6% 0%;
    gap: 10px;
    color: var(--color-text-secundary);
    border-bottom: 2px solid black;
    font-size: 1vw;
    padding-bottom: 4%;
    transition: transform 0.4s ease, border-right 0.4s ease;
}

.main-cursos__items-1 a:hover, .main-cursos__items-2 a:hover {
    transform: translateX(30px);
    border-right: 5px solid black;
    transition: transform 0.4s ease, border-right 0.4s ease;
}

.main-cursos__items-h3 {
    font-size: 1.75vw;
}

.main-cursos__items-plus {
    font-size: 2.6vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vw;
    padding: 0;
    text-decoration: none;
    border-bottom: 2px solid black;
}

/* Media Query para pantallas pequeñas (Tabletas y móviles) */
@media (max-width: 768px) {
    .main-cursos__h2 {
        font-size: 8vw;
        padding: 0 5%;
    }

    .main-cursos__items {
        flex-direction: column;
        padding: 5% 0%;
        gap: 20px;
    }

    .main-cursos__items-1,
    .main-cursos__items-2 {
        width: 90%;
        margin: 0% 5%;
        align-items: center; /* Alineamos los elementos en el centro */
    }

    .main-cursos__items-1 a, .main-cursos__items-2 a {
        font-size: 4vw;
        padding: 4% 0;
        text-align: center;
        height: auto;
    }

    .main-cursos__items-h3 {
        font-size: 6vw;
        padding: 5%;
        text-align: center;
    }

    .main-cursos__items-plus {
        font-size: 5vw !important;
        height: auto;
    }
}



/*-----------------PROYECTOS-----------------*/
.main-proyectos-h2{
    text-align: center;
    padding: 0% 10%;
    font-family: var(--fuente-pagina-bold);
    font-size: 4vw;
    margin-top: 5%;
    margin-bottom: 3%;
}

.main-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    position: relative;
    width: 90vw;
    padding: 1rem 0;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 2rem;
    overflow-x: hidden; /* Oculta la barra horizontal */
    scroll-behavior: smooth;
}

.main-proyectos-proyecto {
    flex: 0 0 auto;
    width: 23vw;
    height: 23vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para posicionar el hover-info */
    overflow: hidden;
}

.pag-img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* puede recortar partes de la imagen */
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.7;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button:hover {
    opacity: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/* Ocultar scrollbar (por compatibilidad cruzada) */
.carousel-track::-webkit-scrollbar {
    display: none;
}
.carousel-track {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hover-info {
    position: absolute;
    bottom: -30%; /* Empieza oculto por debajo */
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(128, 128, 128, 0.7); /* gris translúcido */
    color: black;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.5s ease;
    font-family: var(--fuente-pagina);
    text-align: center;
    padding: 0 5px;
}

.main-proyectos-proyecto:hover .hover-info {
    bottom: 0; /* Se desliza hacia arriba */
}


/*-----------------PLATAFORMAS CON LAS QUE ESTUDIE-----------------*/


.main-plataformas {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 5% 0% 5% 0%;
}

.main-plataformas-h2{
    text-align: center;
    font-family: var(--fuente-pagina-bold);
    font-size: 4vw;
    padding: 5% 0% 7% 0%;
}

.main-plataformas-elementos {
    width: 84.17%;
    height: 60vh;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border: 2px solid black;
    transition: border-radius 0.3s ease-in-out
}
.main-plataformas-elementos:hover{
    border-radius: 85px;
}

.main-plataformas-elementos-ul {
    display: flex;
    list-style: none;
    height: 20vh;
    width: max-content;
    animation: scroll 40s linear infinite;
    gap: 5vw; /* Separación muy pequeña entre las imágenes */
}

.main-plataformas-elementos-items {
    width: 22vw; /* Imágenes más pequeñas */
    height: 20vh; /* Mantén la proporción */
    
}
/* Animación para mover los elementos en un bucle infinito */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Media Query para pantallas de tablet y celular */
@media (max-width: 768px) {
    .main-plataformas {
        height: auto; /* Ajustar la altura automáticamente */
        margin: 2% 0 5% 0;
    }

    .main-plataformas-h2 {
        font-size: 6vw; /* Aumenta el tamaño del texto en pantallas pequeñas */
        padding: 6% 0 14% 0;
    }

    .main-plataformas-elementos {
        width: 95%; /* Hacerlo más ancho en pantallas pequeñas */
        height: 40vh; /* Reducir la altura */
    }

    .main-plataformas-elementos-ul {
        height: 15vh; /* Reducir la altura de la lista */
        gap: 4vw; /* Ajustar el espacio entre elementos */
    }

    .main-plataformas-elementos-items {
        width: 35vw; /* Aumentar tamaño de imágenes */
        height: 12vh; /* Mantener proporción */
    }
}



/*-----------------FORMULARIO DE CONTACTO-----------------*/

.main-formulario {
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    overflow: visible; /* Permite que el degradado se superponga hacia arriba */
    margin-top: 100px; /* Asegura espacio para el degradado */
}

.main-formulario::before {
    content: ''; /* Necesario para que el pseudo-elemento se renderice */
    position: absolute; /* Posiciona el degradado de manera absoluta */
    top: -200px; /* Lo coloca 100px por encima del borde superior */
    left: 0;
    width: 100%; /* Cubre todo el ancho de la sección */
    height: 200px; /* Alto del degradado */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Degradado hacia arriba */
    pointer-events: none; /* Evita que el degradado interfiera con los clics */
    z-index: 1; /* Coloca el degradado por encima del contenido */
}

/* Parte izquierda (65%) */
.main-formulario_izquierda {
    width: 65%; /* Ocupa el 65% del ancho */
    padding: 40px 20px; /* Ajusta el padding si es necesario */
    display: flex;
    font-family: var(--fuente-pagina-bold);
    flex-direction: column;
    justify-content: center;
}

.main-formulario-titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}

input{
    all: unset;
    border-bottom: 2px solid var(--color-primary);
}

.formulario {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.formulario-grupo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.formulario-grupo label {
    font-size: 1rem;
    color: var(--color-primary);
}

.formulario-grupo input,
.formulario-grupo textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #A6AEBF;
}

.formulario-grupo textarea {
    all: unset;
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
    color: #A6AEBF;
}

.formulario-boton {
    padding: 10px 20px;
    background-color: transparent;
    color: whitesmoke;
    font-family: var(--fuente-pagina-extrabold);
    border: none;
    border: 2px solid var(--color-primary);
    padding: 15px ;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.formulario-boton:hover {
    background-color: var(--color-primary);
    color: var(--color-text-secundary);
}

.main-formulario-redes {
    margin-top: 5%;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-bottom: 2px solid white;
    border-top:2px solid white;
    flex-wrap: wrap;
}

.redes-link {
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.redes-link:hover {
    color: var(--color-primary);
}

/* Parte derecha (35%) */
.main-formulario-derecha {
    width: 35%; /* Ocupa el 35% del ancho */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-secundary);
}

.main-formulario-derecha-h2 {
    font-size: 65vh; /* Tamaño de fuente enorme */
    font-family: var(--fuente-pagina-bold);
    color: #1E201E; /* Color amarillo */
    margin: 0;
    line-height: 1; /* Evita espacio adicional */
}

/* Estilos específicos para el desplegable de "Asunto" */
.formulario-grupo select#asunto {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #A6AEBF; /* Color del texto */
    background-color: transparent; /* Fondo gris */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 4px; /* Bordes redondeados */
    appearance: none; /* Elimina el estilo por defecto del navegador */
    -webkit-appearance: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
    -moz-appearance: none; /* Para Firefox */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo para las opciones del desplegable de "Asunto" */
.formulario-grupo select#asunto option {
    background-color: #f0f0f0; /* Fondo gris */
    color: var(--color-text-secundary); /* Color del texto */
    padding: 10px; /* Espaciado interno */
}

/* Estilo cuando el desplegable de "Asunto" está enfocado */
.formulario-grupo select#asunto:focus {
    outline: none; /* Elimina el contorno por defecto */
    border-color: #666; /* Cambia el color del borde al enfocar */
}

/* Estilo para el ícono del desplegable de "Asunto" (opcional) */
.formulario-grupo select#asunto {
    position: relative;
}
.formulario-grupo select#asunto::after {
    content: '▼'; /* Ícono de flecha hacia abajo */
    position: absolute;
    right: 10px;
    top: 70%; /* Ajusta la posición vertical */
    transform: translateY(-50%);
    pointer-events: none; /* Evita que el ícono interfiera con los clics */
    color: #666; /* Color del ícono */
}

@media (max-width: 768px) {
    .main-formulario {
        flex-direction: column; /* Asegura que el contenido esté en una sola columna */
        height: auto; /* Ajusta la altura automáticamente */
        align-items: center; /* Centra el contenido */
    }

    .main-formulario_izquierda {
        width: 100%; /* Ocupa todo el ancho */
        padding: 20px; /* Reduce el padding para mejorar el espacio */
        align-items: center; /* Centra los elementos */
    }

    .main-formulario-derecha {
        display: none; /* Oculta la parte derecha */
    }
}


/*-----------------FOOTER-----------------*/



footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-form);
    background-color: var(--color-text-secundary);
    padding: 0% 1%;
}
footer a{
    text-decoration: none;
    color: var(--color-primary);
}
.footer-form{
    display: flex;
    width: 65%;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-form);
    background-color: var(--color-text-secundary);
    padding: 0% 1%;
}

@media (max-width: 768px){
    .footer-form{
        width: 100%;
    }
}







.cursor-follower {
    position: fixed;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid var(--color-text-secundary);
    border-radius: 0;
    pointer-events: none; 
    transition: transform 0.1s ease-out, top 0.2s ease-out, left 0.2s ease-out; /* Efecto de demora */
}