* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #ffe45e;
    --fuente-pagina:"MiFuenteRegular", sans-serif;
    --fuente-pagina-bold:"MiFuenteBold", sans-serif;
    --fuente-pagina-extrabold: "MiFuenteExtraBold", sans-serif;
    --color-text-secundary: #000000;
    --color-text-terciary: #323232;
}
@font-face {
    font-family: 'MiFuenteRegular';
    src: url('/assets/OTF/Panchang-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteExtraBold';
    src: url('/assets/OTF/Panchang-Extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiFuenteBold';
    src: url('/assets/OTF/Panchang-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    background-image:url("fond\ pag2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fuente-pagina);
    background-size:900px;
    background-repeat: repeat;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*-----------------HEADER-----------------*/



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
    font-family: var(--fuente-pagina);
}

.header_logo{
    font-size:47px;
    font-family: var(--fuente-pagina-bold);
}

.header_navbar{
    list-style:none;
    display: flex;
    height: 100%;
    width: 50%;
    gap: 50px;
}

.header_navbar-li{
    justify-content: space-between;
    font-size:21px;
    background-color: transparent;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    border-radius: 4px;
}
.header_navbar-li:hover{
    background-color: var(--color-text-secundary);
    
}
.header_navbar-li-a:hover{
    color: white;
}

.header_navbar-li-a{
    text-decoration: none;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out; 
    color: var(--color-text-secundary);
}



/*-----------------PRESENTACION-----------------*/



.main_presentacion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-pagina);
    padding: 4% 4%;
}

.main_presentacion-h2{
    font-family: var(--fuente-pagina-bold);
    font-size: 4vw;
}

.main_presentacion-h1{
    font-family: var(--fuente-pagina-extrabold);
    font-size: 22vw;
}



/*-----------------DESCRIPCIÓN-----------------*/



.main-description{
    display: flex;
    width: 100vw;
    font-size: 0.9vw;
    font-weight: 600;
    padding: 0% 6%;
    justify-content: space-between;
    overflow-x: hidden;
    
}
.main-description-p1{
    width: 30%;
}
.main-description-p2{
    width: 30%;
}
.main-description-buttons{
    display: flex;
    flex-direction: column;
}

.main-description-buttons-button1, .main-description-buttons-button2{
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid var(--color-text-secundary);
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    margin-bottom: 10px; 
}

.main-description-buttons-button1:hover, .main-description-buttons-button2:hover {
    background-color: var(--color-text-secundary); 
    color: white;
}



/*-----------------ESPECIALIDADES-----------------*/



.main-specialty {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    height: 35%;
    margin: 20px;
}

.text-slider {
    background-color:transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 85vw;
    overflow: hidden;
    
    font-family: var(--fuente-pagina-bold);
}


.text-slider__item {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    animation: slideText 8s infinite;
}

.text-slider__item:nth-child(1) { animation-delay: 0s; }
.text-slider__item:nth-child(2) { animation-delay: 2s; }
.text-slider__item:nth-child(3) { animation-delay: 4s; }
.text-slider__item:nth-child(4) { animation-delay: 6s; }

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    35% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
/* Esquinas superiores */
.text-slider::before,
.text-slider::after {
    content: "";
    position: absolute;
    width: 6rem; 
    height: 6rem;
    border: 3px solid var(--color-text-secundary);
}

.text-slider::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.text-slider::after {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

/* Esquinas inferiores */
.text-slider .corner-bottom-left,
.text-slider .corner-bottom-right {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: 3px solid var(--color-text-secundary);
}

.text-slider .corner-bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.text-slider .corner-bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.main-specialty{
    padding: 10%;
}

.main-specialty-h2{
    margin-bottom: 8%; 
    font-size: 2rem; 
    color: #333; 
    text-transform: uppercase;
}



/*-----------------CURSOS Y FORMACION-----------------*/



.main-cursos{
    width: 100%;
}


.main-cursos__h2{
    text-align: center;
    padding: 0% 10%;
    font-family: var(--fuente-pagina-bold);
    font-size: 3vw;
}

.main-cursos__items {
    display: flex;
    gap: 30px; 
    justify-content: space-between;
    padding: 5% 10%;
}

.main-cursos__items-1,
.main-cursos__items-2 {
    display: flex;
    flex-direction: column; 
    width: 40%;
}

.main-cursos__items-1 a, .main-cursos__items-2 a{
    text-decoration: none;
    height: 4.5vw;
    padding: 6% 0%;
    gap: 10px;
    color: var(--color-text-secundary);
    border-bottom: 2px solid black;
    font-size: 1vw;
    padding-bottom: 4%;
    transition: transform 0.4s ease, border-right 0.4s ease;
}

.main-cursos__items-1 a:hover, .main-cursos__items-2 a:hover {
    transform: translateX(30px); 
    border-right: 5px solid black; 
    transition: transform 0.4s ease, border-right 0.4s ease;
}

.main-cursos__items-h3{
    font-size: 1.75vw;
}

.main-cursos__items-plus {
    font-size: 2.6vw !important; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 4.5vw; 
    padding: 0;
    text-decoration: none; 
    border-bottom: 2px solid black; 
}


/*-----------------PROYECTOS-----------------*/


.main-proyectos-h2{
    padding: 5% 10% 0% 10%;
    font-family: var(--fuente-pagina-bold);
    font-size: 3vw;
}
.main-proyectos {
    width: 85%;
    height: 60vh;
    display: flex;
    margin: 0.25% 0%;
}

.main-proyectos-proyecto{
    height: 100%;
    width: 100%;
    margin: 0% 0.5%;
    border: 2px solid black;
    overflow: hidden;
    transition: border-radius 0.3s ease-in-out
}


.main-proyectos-proyecto:hover{
    border-radius: 13%;
}

.img_proy{
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover; 
    background-position: center;
}

.pag-1{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    border-radius: inherit;  
    transition: border-radius 1.5s ease-in-out;
}




/*-----------------PLATAFORMAS CON LAS QUE ESTUDIE-----------------*/


.main-plataformas {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 0.5% 0% 5% 0%;
}

.main-plataformas-h2{
    text-align: center;
    font-family: var(--fuente-pagina-bold);
    font-size: 4vw;
    padding: 7% 0% 12% 0%;
}

.main-plataformas-elementos {
    width: 84.17%;
    height: 60vh;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border: 2px solid black;
    transition: border-radius 0.3s ease-in-out
}
.main-plataformas-elementos:hover{
    border-radius: 85px;
}

.main-plataformas-elementos-ul {
    display: flex;
    gap: 6vw;
    list-style: none;
    width: max-content;
    animation: scroll 40s linear infinite;
    
}

.main-plataformas-elementos-items {
    width: 100%; /* Aumentamos el tamaño de las imágenes */
    height: auto;
}

/* Animación para mover los elementos en un bucle infinito */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}









.cursor-follower {
    position: fixed;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid var(--color-text-secundary);
    border-radius: 0;
    pointer-events: none; 
    transition: transform 0.1s ease-out, top 0.2s ease-out, left 0.2s ease-out; /* Efecto de demora */
}